<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.kotlin.library_common">
    <application>
        <provider
            android:authorities="${applicationId}.contentprovider"
            android:name=".provider.AppContentProvider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>