<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.kotlin.module_home">

    <application>
        <activity android:name=".activity.HomeArticlesTabActivity"/>
        <activity android:name=".activity.HomeSearchActivity"/>
        <activity android:name=".activity.SearchResultActivity"/>
        <activity android:name=".activity.KnowLedgeLabelActivity"/>
        <activity android:name=".activity.AddKnowLedgeLabelActivity"/>
    </application>

</manifest>