<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.kotlin.module_mine">

    <application>
        <activity android:name=".activity.QuickLoginActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.CoinRankActivity"/>
        <activity android:name=".activity.OtherShareArticleActivity"/>
        <activity android:name=".activity.MyCoinsActivity"/>
        <activity android:name=".activity.MyCollectArticleActivity"/>
        <activity android:name=".activity.MyShareArticlesActivity"/>
        <activity android:name=".activity.HistoryRecordActivity"/>
    </application>

</manifest>