<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.kotlin.module_web">

    <application>
        <activity android:name=".activity.WebPreviewPhotoActivity"/>
        <activity android:name=".activity.WebTransitionActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.ArticleWebActivity"/>

    </application>

</manifest>