<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knight.kotlin.module_set">

    <application>
        <activity android:name=".activity.SetActivity"/>
        <activity android:name=".activity.DarkModeActivity"/>
        <activity android:name=".activity.SelectLanguageActivity"/>
        <activity android:name=".activity.AutoNightTimeActivity"/>
        <activity android:name=".activity.ChangeTextSizeActivity"/>
        <activity android:name=".activity.GestureLockActivity"
            android:configChanges="keyboardHidden|keyboard|screenSize|locale|navigation|smallestScreenSize"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.AppRecordMessageActivity"/>
        <activity android:name=".activity.PersonalAndManagerActivity"/>
        <activity android:name=".activity.PersonalMessageActivity"/>
        <activity android:name=".activity.DeviceMessageActivity"/>
    </application>

</manifest>